/*
Stylesheet for Off Broadway Children's Theatre
Author: Matt Trask (@matthewtrask)
Copyright: 2015
1. Global
2. Logo
3. Nav Bar
4. Carousel
5. Happenings
6. Footer
7. BTT Arrow
8. Teachers
9. Troupe
10. Classes
11. Current Prod
12. Upcoming
13. Auditions
14. Register
*/


/*

colors:
gray: #5d5d5d;
yellow: #D1FF47;
red: #ff6047;
purple: #ff47d1;
green: #47ffa3;
facebook:#3b6998;
twitter:#4099ff;
wordpress:#21759b;
youtube:#D1FF47;


*/

/* GLOBAL */
body {
  /*background-color: #5d5d5d;*/
  background-color: #fff;
  color: #5d5d5d;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

p, a, li, span, blockquote {
  font-family: 'Merriweather', sans-serif;

}

.button.message {
  background-color: #7547ff !important;
}
.button.message:hover {
  background-color: #7507ff !important;
}

.button.success {
  background-color: #47ffa3 !important;
}

.button.success:hover {
  background-color: #43AC6A !important;
}

.button.register {
  background-color: #ff6047 !important;
  width: 50%;
}

.button.register:hover {
  background-color: #ff6047 !important;
}

/* END GLOBAL */

/* LOGO */

/* END GLOBAL */

/* NAV BAR */

nav.top-bar, 
nav.top-bar section.top-bar-section ul.left li a,
nav.top-bar section.top-bar-section ul.right li a, 
nav.top-bar section.top-bar-section ul.right li.has-dropdown ul.dropdown li a, 
nav.top-bar ul.title-area li.name h1,
nav.top-bar ul.title-area li.name h1 a,
nav.top-bar ul.title-area li.toggle-topbar.menu-icon a,
nav.top-bar ul.title-area li.toggle-topbar.menu-icon a span {
  background-color: #5d5d5d;
  color: #fff;
}

nav.top-bar section.top-bar-section ul.left li a:hover,
nav.top-bar section.top-bar-section ul.right li a:hover, 
nav.top-bar section.top-bar-section ul.right li.has-dropdown ul.dropdown li a:hover,
nav.top-bar ul.title-area li.name h1 a:hover,
.top-bar.expanded .toggle-topbar a span::after  {
  background-color: #fff;
  color: #5d5d5d;
}




/* END NAV BAR */

/* HOME */


div#hero {
    padding: 5px;
    border: 1px solid black;
}

div#current {
  width: 25%;
}

div#about {
  margin-top: 6%;
}

/* END HOME */

/* HAPPENINGS */



/* END HAPPENINGS */




/* FOOTER */
#footerSM ul li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
}

#footerSM li:first-child {
  margin-left: -35px;
}

#footerSM li a {
  color: #5d5d5d;
}

#footerEmail a {
  color: #5d5d5d;
}

footer .fa-youtube-square:hover {
  color: #e52d27;
}

#footerEmail a:hover {
  color: #2ecc71;
}

footer .fa-facebook-official:hover {
  color: #3b6998;
}

footer .fa-twitter-square:hover {
  color: #4099ff;
}

footer .fa-wordpress:hover {
  color: #21759b;
}

footer .fa-youtube:hover {
  color: #e52d27;
}


/* END FOOTER */

/* BTT ARROW */
.back-to-top {
  background: none;
  margin: 0;
  position: fixed;
  bottom: 10px;
  right: 15px;
  /*width: 70px;*/
  /*height: 70px;*/
  z-index: 100;
  display: none;
  text-decoration: none;
  color: #ff6047;

}

.back-to-top:hover {
  color: #ff6047;
}

.back-to-top:active {
  color: #ff6047;
}

.back-to-top:visited {
  color: #ff6047;
}

.back-to-top i {
  font-size: 60px;
}
/* END BTT ARROW */

/* ABOUT */

img#ObctLogo {
  height: 60%;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

/* END ABOUT */

/* TEACHERS */


/* END TEACHERS */

/* TROUPE */



/*.headshots {
	height: 250px;
	margin-top: 15px;
	margin-bottom: 15px;
}*/
/* END TROUPE */

/* CLASSES */

/* END CLASSES */

/* QUESTIONS */



/* END QUESTIONS */

/* SHOWS */



/* END SHOWS */

/* UPCOMING */

/* END UPCOMING */

/* AUDITIONS */

/* END AUDITIONS */

/* REGISTER */

/* END REGISTER */

/* BOX OFFICE */

/* END BOX OFFICE */

/* CONTACT */

/* END CONTACT */

/* ADMIN */

#recentMessage {
  height: 600px;
  overflow: auto;
}

#messages a {
  font-family: 'Raleway', sans-serif;
}

/* END ADMIN */