/*

Off Broadway Dance Studio 
Author: Matt Trask
Copyright 2014


*/

/**************************

	GLOBAL STYLES

**************************/

body, html {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #979FA6;
	color: white;
}

.pad-section {
	margin-top: 30px 0;
}


/**************************

	NAVBAR STYLES

**************************/

#navbar {
	background-color: red;
	height: 50px;
	margin-bottom: 20px;
	padding-bottom: 50px;
}

#navbar ul a, #header a {
	color: white;
}

#navbar li a {
	font-size: 1.3em;
}

#navbar li a:hover {
	background: white;
	color: red;
}

#navbar img {
	margin-top: -20px;
	height: 55px;
}

.navbar-nav.nav-justified > li{
    float:none;
}


button.navbar-toggle {
	background-color: white;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
color: #333;
background-color: transparent;
}

#navbar ul li a, #navbar a {
	font-size: 1.4rem;
}

#sm_icons {
	margin-top: 50px;
	margin-left: -25px;
}
 #sm_icons ul {
	list-style: none;
	display: inline-block;
 }

 #sm_icons ul li {
 	display: inline-block;

 }

#SMIcons {
	height: 50px;
	width: 50px;
}

 #headerImage {
 	margin-right: 30px;
 }

/* #sm_icons:first-child {
 	margin-right: 4000px;
 }*/

/**************************

	FOOTER STYLES

**************************/

footer {
	background-color: red;
/*	font-size: 10px;*/
	color: #FFF;
	height: 150px;
	width: 100%;

/*	margin-tiop: 100%;*/

}

/*#socialmedia ul li {
	list-style-type: none;
	margin-left: 10px;
}

#socialmedia ul li {
	margin-bottom: 10px;
}

#socialmedia ul li a {
	color: white;
	text-decoration: none;
	margin-bottom: 10px;
}*/

footer p, a {
	text-align: left;
}


/**************************

	LANDING PAGE STYLES

**************************/

main #home {
	/*height: 100%;*/
	margin-bottom: 50px;
}

/*#home {
	background: url(../img/broadway.jpg); no-repeat center center fixed;
	height: 100%;
	width: 100%;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
}*/

#mainCarousel {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 50px;
}

#mainCarousel img {
	height: 450px;
	width: 750px;
}

#mainCarousel > .carousel-inner {
	margin-left: 5px;
}

#mainCarousel > .carousel-inner > .item > img {
    margin: 0 auto;
}

#mainCarousel > .carousel-control.left, .carousel-control.right{ 
	background: none !important; 
	filter: progid:none !important;
}

.carousel-control.left {
	margin-left: 120px;
}

/*.carousel-control.right{
	margin-right: 120px;
}
*/
.glyphicon-chevron-left{
	margin-left: 140px;
}

.glyphicon-chevron-right{
	margin-right: 120px;
}

.image-small {
	height: 60%;
	width: 70%;
}

/**************************

	ABOUT PAGE STYLES

**************************/

#aboutbody {
/*	height: 1550px;*/
/*	margin: 0 auto -20px;*/

}

#quicklinks a {
	font-size: 1.5em;
	display: inline-block;
	margin-left: 180px;
	margin-top: 20px;
	text-decoration: none;
	color: red;
}

#quicklinks a:hover {
	background-color: red;
	color: white;
}


#aboutbody h1 {
	margin-top: 50px;
}

#carousel {
	width: 100%;
	margin-top: 60px;
}

#carousel img {
	height: 680px;
	width: 1200px;
}

.carousel-inner {
	margin-left: 5px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-control.left, .carousel-control.right{ 
	background: none !important; 
	filter: progid:none !important; 
}

.image-small {
	height: 60%;
	width: 70%;
}

#reasons_obd {
	margin-bottom: 30px;
}

#top_ten_reasons {
	list-style-type: none;
}


​
/**************************

	TEACHER PAGE STYLES

**************************/

#bios {
	margin-bottom:30px;
}

#bios img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

/**************************

	CLASS PAGES STYLES

**************************/

.body h1, .classes h1 {
	margin-top: 50px;
	margin-bottom: 20px;
}

.classes h3 {
	margin-bottom: 25px;
}

.red {
/*	background: #F7CA18;*/
	color: black;
	width: 100%;
}

#pulsebody {
	margin-top: 30px;
	margin-bottom: 40px;
}

#pulsebody h1 {
	margin-bottom: 20px;
}

#pulsebody img {
	margin-bottom: 30px;
}

.hide_div {
	display: none;
}

.classes-offered ul{
	list-style-type: none;

}

.classes-offered button {
	margin-bottom: 40px;
}

.classes-offered button a {
	color: #FFF;
}

/**************************

	SHOW PAGES STYLES

**************************/

img#current_show {
	margin-top: -60px;
}

img#cinderella_setup {
	margin-bottom: 20px;
}


/**************************

	REG PAGE STYLES

**************************/

.signup {
	border: 2px solid black;
}

.signup:hover {
	background-color: red;
	color: white;
}

.signup a {
	color: black;
}

.signup a:hover {
	color: white;
}

#reg_pic {
	margin-top: 20px;
}

/**************************

	FAQ and AUDITION HIDE DIV STYLES

**************************/


.click_me:hover{
	color: #fff;
	background-color: red;
}


/**************************

	CAST STYLES

**************************/

#cast_list ul li {
	list-style-type: none;
}

/**************************

	CLASS SCHEDULE STYLES

**************************/

.danceClasses ul li {
	list-style-type: none;
}

#schedule {
	margin-bottom: 150px;
}

/**************************

	TROUPE STYLES

**************************/

.headshots {
	height: 250px;
	margin-top: 15px;
	margin-bottom: 15px;
}











