/*
Stylesheet for Off Broadway Children's Theatre
Author: Matt Trask (@matthewtrask)
Copyright: 2015
*/


/* GLOBAL */
body {
  padding-top: 51px;
  font-family: 'Dosis', sans-serif;
  background-color: #5d5d5d;
  color: white;
}

.text-center {
  padding-top: 20px;
}

.module {
  margin-top: 20px;
}

/* END GLOBAL */

/* LOGO */

#logo {
  height: 50%;
  width: 50%;
  z-index: 2;
}

/* END LOGO */

/* NAV BAR */
.navbar {
  margin-top: -30px;
  background-color: #5d5d5d;
  border: 0px;
}

#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
}
#sidebar .nav {
  width: 95%;
}

div#sidebar.col-xs-6.col-sm-3.sidebar-offcanvas {
  width: 150px;
}

#sidebar li a {
  color: #D1FF47;
}

#sidebar li a:hover {
  color: #000 !important;
  background-color: #D1FF47 !important;
}

ul.menuDrop  {
  padding-top: 0px;
  padding-bottom: 0px;
}

ul.dropdown-menu.menuDrop > li a{
  background-color: #fff !important;
  color: #D1FF47 !important;
}

ul.menuDrop li a {
  color: #000 !important;
  background-color: #D1FF47 !important;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
}

/* END NAV BAR */

/* CAROUSEL */
.controls {
  height: 100px;
}

div.carousel-inner {
  height: 695px !important;
}


/* END CAROUSEL */

/* FOOTER */
#footerSM ul li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
}

#footerSM li:first-child {
  margin-left: -35px;
}

#footerSM li a {
  color: #D1FF47;
}

#footerEmail a {
  color: #D1FF47;
}

footer .fa-youtube-square:hover {
  color: #e52d27;
}

#footerEmail a:hover {
  color: #2ecc71;
}

footer .fa-facebook-official:hover {
  color: #3b6998;
}

footer .fa-twitter-square:hover {
  color: #4099ff;
}

footer .fa-wordpress:hover {
  color: #21759b;
}

footer .fa-youtube:hover {
  color: #e52d27;
}

/* END FOOTER */